[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
tox = "*"
bumpversion = "*"
coverage = "*"
mypy = "*"
black = "*"
typing_extensions = "*"
hypothesis = "*"
flake8 = "*"
types-toml = "*"

[packages]
toml = ">= 0.10.2"
coverage-threshold = {editable = true,path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
